name: Docker CI Pipeline

on:
  push:
    branches: [ "master" ]
  pull_request:

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        run: |
          echo "${{ secrets.DOCKER_PASSWORD }}" | docker login docker.io \
           -u "${{ secrets.DOCKER_USERNAME }}" \
           --password-stdin


      - name: Build Docker image
        run: docker build -t Himanshu1209/my-app-practMig:${{ github.sha }} .

      - name: Push Docker image
        run: docker push Himanshu1209/my-app-practMig:${{ github.sha }}

      - name: Debug secrets (safe)
        run: |
         if [ -z "${{ secrets.DOCKER_USERNAME }}" ]; then echo "USERNAME EMPTY"; else echo "USERNAME OK"; fi
         if [ -z "${{ secrets.DOCKER_PASSWORD }}" ]; then echo "PASSWORD EMPTY"; else echo "PASSWORD OK"; fi

