name: Java CI Pipeline

on:
  push:
    branches: [ "master" ]
  pull_request:

jobs:
  build-test-deliver:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Java 21
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: '21'
          cache: maven

      - name: Build (skip tests)
        run: mvn -B -DskipTests clean package

      - name: Run Tests
        run: mvn test

      - name: Upload JUnit Test Reports
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: junit-reports
          path: target/surefire-reports/*.xml

      - name: Deliver
        run: ./jenkins/scripts/deliver.sh
